<div class="nav-item mt-3">
    <a class="btn btn-warning btn-lg fw-semibold fs-6" *ngIf="authService.canEditLecturesAndGroups()" aria-current="page" routerLink="/courses/new">Naujas kursas</a>
</div>


<div class="card mt-3">
    <h5 class="card-header text-bg-warning ">Kursų sąrašas</h5>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr class="h5">
                    <th>Nr.</th>
                    <th>Pavadinimas</th>
                    <th class="text-center" *ngIf="authService.canEditLecturesAndGroups()">Veiksmai</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courses; let i = index">
                    <td class="align-middle">{{ i + 1 }}</td>
                    <td class="align-middle">{{ course.title }}</td>
                    <td class="align-middle text-center" *ngIf="authService.canEditLecturesAndGroups()">
                        <a class="btn btn-sm btn-outline-warning fw-semibold fs-6 me-3" [routerLink]="['/courses',course.id]">Redaguoti</a>
                        <button class="btn btn-sm btn-outline-danger fw-semibold fs-6" (click)="deleteCourse(course.id!)">X</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>