<app-error [isError]="isError" [text]="errorText"></app-error>
<div *ngIf="!isError" class="card mt-3">
    <h5 class="card-header text-bg-warning">Pridėti naują kursą</h5>
    <div class="card-body">
        <form (ngSubmit)="courseSubmit(f)" #f="ngForm">
            <div class="mb-3 row g-2 d-flex align-items-center">
                <div class="col-2">
                    <label for="" class="form-label h5 float-end">Pavadinimas</label>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control" name="title" value="" ngModel minlength="2" maxlength="64" required #inputName="ngModel">
                </div>
            </div>

            <div class="mb-3 row g-2 d-flex align-items-center">
                <div class="col-2"></div>
                <div class="col-10">
                    <button class="btn btn-warning btn-lg fw-semibold fs-6" type="submit">Sukurti naują kursą</button>
                </div>
            </div>
        </form>
    </div>
</div>