<app-error [isError]="isError" [text]="errorText"></app-error>
<div *ngIf="!isError" class="card mt-3">
    <h4 class="card-header text-bg-info">Redaguoti grupę</h4>
    <div class="card-body">
        <h4 class="mb-3">Grupės informacija</h4>
        <form id="ngForm" (ngSubmit)="groupSubmit(f)" #f="ngForm">
            <div class=" mb-3 row g-2 d-flex align-items-center">
                <div class="col-2">
                    <label for="" class="form-label h5 float-end">Grupės pavadinimas</label>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control" name="title" value="" ngModel minlength="2" maxlength="64" required #inputName="ngModel" [(ngModel)]="title">
                </div>
            </div>
            <div class=" mb-3 row g-2 d-flex align-items-center">
                <div class="col-2">
                    <label for="" class="form-label h5 float-end">Kursas</label>
                </div>
                <div class="col-10">
                    <select class="form-control" [(ngModel)]="course_id" name="course_id">
                        <option *ngFor="let course of courses; let i=index" [selected]="course.id == course_id" [value]="course.id">{{ course.title }}</option>
                    </select>
                </div>
            </div>
            <div class=" mb-3 row g-2 d-flex align-items-center">
                <div class="col-2">
                    <label for="" class="form-label h5 float-end">Dėstytojas</label>
                </div>
                <div class="col-10">
                    <select class="form-control" [(ngModel)]="lecturer_id" name="lecturer_id">
                        <option *ngFor="let lecturer of lecturers; let i=index" [selected]="lecturer.id == lecturer_id" [value]="lecturer.id">{{ lecturer.name }} {{ lecturer.surname }}</option>
                    </select>
                </div>
            </div>
            <div class=" mb-3 row g-2 d-flex align-items-center">
                <div class="col-2">
                    <label for="" class="form-label h5 float-end">Pradžia</label>
                </div>
                <div class="col-4">
                    <input type="date" class="form-control" name="start" ngModel required #inputName="ngModel" [(ngModel)]="start">
                </div>
            </div>
            <div class=" mb-3 row g-2 d-flex align-items-center">
                <div class="col-2">
                    <label for="" class="form-label h5 float-end">Pabaiga</label>
                </div>
                <div class="col-4">
                    <input type="date" class="form-control" name="end" value="" ngModel required #inputName="ngModel" [(ngModel)]="end">
                </div>
            </div>

            <hr class="mb-4 mt-4 text-info border-5">

            <h3 class="mb-3 row g-2 d-flex align-items-center">Grupės studentai</h3>
            <div class="row">
                <div class="col-md-7 mb-3">
                    <select class="form-control" [(ngModel)]="student_id" name="student">
                        <option *ngFor="let student of students; let i=index" [value]="student.id">{{ student.name }} {{ student.surname }}</option>

                    </select>
                </div>
                <div class="col-md-5 mb-3">
                    <button type="button" class="btn btn-outline-info fw-semibold fs-6" (click)="addStudentToGroup()">Pridėti studentą prie grupės</button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="mb-3">
                    <table class="table">
                        <thead>
                            <tr class="h5">
                                <th class="col-1">Eilės Nr.</th>
                                <th class="col-4">Vardas</th>
                                <th class="col-4">Pavardė</th>
                                <th class="col-3">Veiksmai</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let groupStudent of groupStudents; let i = index;">
                                <td class="align-middle">{{ i+1 }}</td>
                                <td class="align-middle">{{ getStudentName(groupStudent.id) }}</td>
                                <td class="align-middle">{{ getStudentSurname(groupStudent.id) }}</td>
                                <td class="align-middle"><button type="button" class="btn btn-outline-danger fw-semibold fs-6" (click)="deleteStudent(i)">X</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="btn btn-info btn-lg fw-semibold fs-6" type="submit">Atnaujinti</button>
        </form>
    </div>
</div>